<!--
    TASK-1
    Необхідно відтворити функціонал як на відео Cenzor за допомогою Angular, а саме:
- При кліку на ADD добавляти заборонене слово, яке відображатиметься в списку “Bad words”
- Якщо поле для добавлення слова не заповнене виводити відповідне повідомлення\
- При кліку на Cenzor перевіряється чи є в textarea заборонене слово, якщо так його заміняє на *, причому на ту кількість яка довжина слова
- Якщо textarea порожня виводити повыдолення про заповнення поля -->

<header [class]="top">{{topText}}</header>
<main [class]="cenzor">
    <div>
        <span>Bad words: </span><span [class]="bad"> {{ badWords}}</span>
    </div>
    <input type="text" placeholder="{{placeholder}}" [class]="inputText"
        [(ngModel)]="inputWords" [style.borderColor]="isInput! ? 'grey' :
        'red'">
    <input type="button" value="Add" [class]="btnAdd" (click)="addWords()">
    <input type="button" value="Reset" [class]="btnReset"
        (click)="resetWords()">
    <textarea placeholder="{{placeholderTextarea}}" [class]="textarea"
        [style.borderColor]="isText! ? 'grey' : 'red'"
        [(ngModel)]="textareaText"></textarea>
    <input type="button" value="Cenzor" [class]="btnCenzor"
        (click)="cenzorBtn()">
</main>
